<div id="main">
	<div class="wrapper">
		
		<div class="greeting">
			<h1 class="greeting__title">Integer at tortor ut magna</h1>
			<span class="greeting__subtitle">finibus lobortis sed quis tellus</span>
			<div class="greeting__food-cards">
				<div class="food-card">
					<div class="food-card__img1"></div>
					<div class="food-card__heading">Tincidunt</div>
					<div class="food-card__text">Phasellus arcu justo, ullamcorper non diam sit amet, luctus condimentum metus. Nullam tempus egestas efficitur. Sed quam dolor.</div>
				</div>
				<div class="food-card">
					<div class="food-card__img2"></div>
					<div class="food-card__heading">Duis bibendum</div>
					<div class="food-card__text">Ut arcu arcu, faucibus eu risus blandit, pulvinar viverra justo. Phasellus arcu justo, ullamcorper non diam sit amet, luctus condimentum metus. In hac habitasse platea dictumst. </div>
				</div>
				<div class="food-card">
					<div class="food-card__img3"></div>
					<div class="food-card__heading">Donec ligula</div>
					<div class="food-card__text">Nullam tempus egestas efficitur. Sed quam dolor, vulputate sed mattis et, sodales quis orci. Ut arcu arcu, faucibus eu risus blandit,.</div>
				</div>
			</div>
			<button class="btn greeting__btn">Read more</button>
		</div>
	</div>
</div>