<div id="our-news">
	<div class="wrapper">
		<h1 class="news__header">Our news</h1>
		<div class="news__food-cards">
			<div class="food-card">
				<div class="food-card__img1"></div>
				<div class="food-card__heading">Tincidunt</div>
				<div class="food-card__text">Phasellus arcu justo, ullamcorper non diam sit amet, luctus condimentum metus. Nullam tempus egestas efficitur. Sed quam dolor.</div>
				<button class="btn food-card__btn">Read more</button>
			</div>
			<div class="food-card">
				<div class="food-card__img2"></div>
				<div class="food-card__heading">Lorem ipsum</div>
				<div class="food-card__text">Est a elit scelerisque vestibulum. Donec est sem, lobortis sit amet imperdiet vel, pretium lobortis erat. Nulla vitae hendrerit odio. </div>
				<button class="btn food-card__btn">Read more</button>
			</div>
			<div class="food-card">
				<div class="food-card__img3"></div>
				<div class="food-card__heading">Donec ligula</div>
				<div class="food-card__text">Nullam tempus egestas efficitur. Sed quam dolor, vulputate sed mattis et, sodales quis orci. Ut arcu arcu, faucibus eu risus blandit.</div>
				<button class="btn food-card__btn">Read more</button>
			</div>
		</div>
	</div>

</div>